<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<title>sāfespace</title>
<style>
      body {
        font-family: Helvetica, Arial, 'sans-serif';
        background-color: #2b2b2b;
        margin-top: 20px;
      }
      
 .ui.header.mylogo {
 font-family: 'Comfortaa', cursive;
 color: #67c1d5;
 font-size: 45px;
 }
  #map {
            width: 100%;
            height: 500px;
          }
  .hide-element {
    display: none!important;
  }

</style
 

</head>
<body>
<div class="ui container">
<h1 class="ui header mylogo inverted">sāfespace</h1>
         

        <div class="ui inverted segment"> <div class="ui inverted form" style="color:#FFF; font-size:125%;">
            <div class="two fields">
              <div class="field" >
              
               <div class="ui action input" style="margin-top:30px;">

                  <input id="address" placeholder="Enter an LA address" />
                  <button class="ui button" id="address-search" onclick="handleSearch()" >Search</button>

                </div>
                </div>
            <div class="field">
            <select id="weekday" onchange="handleSelect()" name="weekday" class="ui simple dropdown item" style="margin-top:31px; height: 45px; font-size:19px; width:30%; min-width: 300px;">
            <option value="All days">Select a day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
            </select>
            </div>
            </div>
            <form action="/" class="ui form" method="POST">
            <div class="ui labeled button hide-element" id='address-submit' tabindex="0">
              <div class="ui button" id="round-boy" onclick="javascript:document.forms[0].submit();">
                <i class="map marker icon"></i> <span id="address-search-text">Search at this location</span>
              </div>
              <input type="hidden" id="lat-input" name="lat" >
              <input type="hidden" id="lng-input" name="lng" >
              <input type="hidden" id="weekday-input" name="weekday" value="All days" >

              <a class="ui basic label" id="address-label">
              </a>
            </div>
            </form>
        </div>
        </div>

 
         <div id="map" width="500" height="500"></div>
    <script>
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 34.0577, lng: -118.30781},
          zoom: 12
        });
        
        map.addListener('dblclick', handleChangeLoc)
        map.addListener('dragend', handleChangeLoc)

        map.addListener('center_changed', function() {
          document.getElementById('lat-input').value = map.getCenter().lat();
          document.getElementById('lng-input').value = map.getCenter().lng();
        });
        
        function handleChangeLoc() {
            document.getElementById('address').value = ''
            document.getElementById('round-boy').style = 'border-radius: 4px;'
          document.getElementById('address-submit').className = 'ui labeled button';
         document.getElementById('address-label').style = 'display:none;';
          document.getElementById('address-search-text').innerHTML = 'Search where map is currently centered';
        }
        
        map.addListener('bounds_changed', function() {
           // send the new bounds back to your server
           console.log("map bounds{"+map.getBounds());
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            document.getElementById('lat-input').value = position.coords.latitude;
            document.getElementById('lng-input').value = position.coords.longitude;
            
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent;
        infoWindow.open(map);
      }
      const handleSelect = () => {
        const weekday = document.getElementById('weekday').value
        document.getElementById('weekday-input').value = weekday
      }
      const handleSearch = () => {
        document.getElementById('round-boy').style = '';

        document.getElementById('address-label').style = 'display:initial;';
          document.getElementById('address-search-text').innerHTML = 'Search at this location';
        document.getElementById('address-search').className = 'ui button loading'
        const address = document.getElementById('address').value;
        const bounds = '33.71812512038069,-118.89557187874578|34.28735720311316,-117.61429136116766'

        axios.post('/geocode', {address, bounds})
        .then(response => {
          document.getElementById('address').value = ''
          document.getElementById('address-search').className = 'ui button'
          const data = JSON.parse(response.data)
          const address = data.results[0].formatted_address;
          document.getElementById('address-label').innerText = address;
          document.getElementById('address-submit').className = 'ui labeled button';
          console.log(data)
          const lat = data.results[0].geometry.location.lat;
          const lng = data.results[0].geometry.location.lng;
          window.lat = lat;
          window.lng = lng;
          const pos = {
              lat: lat,
              lng: lng,
            };
            document.getElementById('lat-input').value = lat;
            document.getElementById('lng-input').value = lng;

            map.setCenter(pos);
            map.setZoom(16)
        })
      }
      const submitAddress = () => {
        const weekday = document.getElementById('weekday').value
        axios.post('/', {lat: lat, lng: lng, weekday: weekday })
        
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
    </script>
</div>
</body>
</html>



